{% extends 'layout.html' %}


{% block title %}
{{super()}}
    Index Page
{% endblock title %}

{% block head %}
{{super()}}
<link href="../static/css/processprijave.css" rel="stylesheet" />
{% endblock head %}

{% block content %}
{{super()}}


<div class="container">
    <div class="page-header">
        <h1>
            <span class="pull-right label label-default"><span class="fakultet"></span></span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="panel with-nav-tabs panel-default">
                <div id="tabs" class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#pr" data-toggle="tab">Провера бодова</a></li>
                        <li class="" id="tabelaPrograma" style="display:none"><a href="#tp" data-toggle="tab">Најбитнији предмети</a></li>
                        <li class="" id="tabelaOstalih" style="display:none"><a href="#dt" data-toggle="tab">Остали обавезни предмети</a></li>
                        <li class="" id="kontrolnaTabela" style="display:none"><a href="#kt" data-toggle="tab">Прорачун бодова</a></li>
                        <li class="" id="tabelaObaveznih" style="display:none"><a href="#to" data-toggle="tab">Обавезни предмети</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="pr" style="display:none">
                            <table id="prijava" class="table table-bordered table-striped table-hover table-responsive">
                                <caption>Школска 2021/22</caption>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Име и презиме кандидата
                                        </td>
                                        <td>
                                            <input type="text" id="ime" placeholder="Упишите име и презиме" />
                                        </td>
                                        <td>
                                            Телефон
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            е-mail адреса:
                                        </td>
                                        <td>
                                            <input type="email" id="email" placeholder="Упишите e-mail" />
                                        </td>
                                        <td>
                                            <input type="text" id="telefon" placeholder="Упишите телефон" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Претходна ВШУ:
                                        </td>
                                        <td colspan="2">
                                            <input type="text" id="vsu" placeholder="Претходна ВШУ" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Претходни  студ. програм
                                        </td>
                                        <td>
                                            <input type="text" id="psp" placeholder="Студијски програм" />
                                        </td>
                                        <td>
                                            Диплома
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Број стечених ЕСПБ:
                                        </td>
                                        <td>
                                            <input type="text" id="steceniESPB" placeholder="ЕСПБ:" required />
                                        </td>

                                        <td>
                                            <select id="diploma" name="diploma" class="form-control">
                                                <option value="0">Диплома?</option>
                                                <option value="1">Да</option>
                                                <option value="2">Не</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Програм УМ (за упис)
                                        </td>
                                        <td colspan="2">
                                            <select id="upisPrograma" name="upisPrograma" class="form-control" required>
                                                <option value="none">Изаберите програм УМ</option>
                                                <option value="fit">ФИТ</option>
                                                <option value="fdu">ФДУ</option>
                                                <option value="fmu">ФМ</option>
                                                <option value="MOCK_DATA">Лажни подаци</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button id="prosledi" type="submit" value="Prosledi">Проследи</button>
                            <br />
                            <br />
                            <br />
                            <div id="greska" class="alert alert-danger" style="display:none">
                                <strong>Грешка</strong> Морате унети обавезна поља - 'Број стечених ЕСПБ' и 'Програм УМ (за упис)'
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tp">
                            <table id="target_table_id" class="table table-bordered table-striped table-hover table-responsive">
                                <caption>НАЈБИТНИЈИ ПРЕДМЕТИ СТУДИЈСКОГ ПРОГРАМА <span class="fakultet"></span></caption>
                                <thead>
                                    <tr>
                                        <th>ИД</th>
                                        <th>Шифра</th>
                                        <th>Назив предмета</th>
                                        <th>ЕСПБ</th>
                                        <th>Семестар</th>
                                        <th>Признат број  ЕСПБ</th>
                                        <th>ЕСПБ додатих предмета</th>
                                        <th>Признат</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Укупно ЕСПБ</th>
                                        <th id="sum5"></th>
                                        <th id="sum6"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="dt">
                            <table id="vazniostali" class="table table-bordered table-striped table-hover table-responsive">
                                <caption>ОСТАЛИ ОБАВЕЗНИ ПРЕДМЕТИ <span class="fakultet"></span></caption>
                                <thead>
                                    <tr>
                                        <th>ИД</th>
                                        <th>Шифра</th>
                                        <th>Назив предмета</th>
                                        <th>ЕСПБ</th>
                                        <th>Семестар</th>
                                        <th>ЕСПБ додатих предмета</th>
                                        <th>Додат</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Потрбно још ЕСПБ</th>
                                        <th id="sd5"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="kt">
                            <table id="kontrolna" class="table table-bordered table-striped table-hover table-responsive">
                                <caption>ЗАВРШНА ТАБЕЛА СТУДИЈСКОГ ПРОГРАМА <span class="fakultet"></span></caption>
                                <tbody>
                                    <tr>
                                        <td>Збир ЕСПБ пренетих предмета (без признатих):</td>
                                        <td id="0"></td>
                                    </tr>
                                    <tr>
                                        <td>Збир ЕСПБ  признатих  битних предмета (Т1)</td>
                                        <td id="1"></td>
                                    </tr>
                                    <tr>
                                        <td>Збир ЕСПБ битних предмета-као диференцијалне (Т1: диф.испити Т3)</td>
                                        <td id="2"></td>
                                    </tr>
                                    <tr>
                                        <td>Збир ЕСПБ битних предмета које студент мора да студира (из Т 1 у Т4)</td>
                                        <td id="3"></td>
                                    </tr>
                                    <tr>
                                        <td>Збир  ЕСПБ признатих, битних, осталих обавезних и диференцијалних предмета:</td>
                                        <td id="4"></td>
                                    </tr>
                                    <tr>
                                        <td>Број ЕСПБ који недостаје:</td>
                                        <td id="5"></td>
                                    </tr>
                                    <tr>
                                        <td>Недостајући број  ЕСПБ који треба да обезбеде изборни предмети из Т3:</td>
                                        <td id="6"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="to">
                            <table id="obavezni" class="table table-bordered table-striped table-hover table-responsive">
                                <caption>ОБАВЕЗНИ ПРЕДМЕТИ СТУДИЈСКОГ ПРОГРАМА <span class="fakultet"></span></caption>
                                <thead>
                                    <tr>
                                        <th>ИД</th>
                                        <th>Шифра</th>
                                        <th>Назив предмета</th>
                                        <th>ЕСПБ</th>
                                        <th>Семестар</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/scripts/processprijave.js"></script>
{% endblock content %}